<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="chessalpha-board-mixin.html">
<link rel="import" href="chessalpha-board-move-mixin.html">
<link rel="import" href="chessalpha-board-styles.html">

<link rel="import" href="chessalpha-piece.html">

<dom-module id="chessalpha-board">
  <template>

    <style include="chessalpha-board-styles"></style>

    <div id="background">
      <slot name="background"></slot>
      <iron-icon icon="[[_background(reversed)]]"></iron-icon>
    </div>
    <div id="innerBoard" on-tap="_boardTap">
      <slot name="innerboard"></slot>
      <div id="pieces"></div>
    </div>

  </template>

  <script>
    /**
     * `chessalpha-board`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.ChessalphaBoardMixin
     * @appliesMixin Polymer.ChessalphaBoardMoveMixin
     * @demo demo/index.html
     */
    class ChessalphaBoard extends Polymer.ChessalphaBoardMoveMixin(Polymer.ChessalphaBoardMixin(Polymer.Element)) {
      static get is() { return 'chessalpha-board'; }
      get backgroundElement() { return this.$.background }
      get innerBoardElement() { return this.$.innerBoard }
      get piecesElement() { return this.$.pieces }
    }

    window.customElements.define(ChessalphaBoard.is, ChessalphaBoard);
  </script>
</dom-module>
