<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../chessalpha-icons/chessalpha-icons.html">

<link rel="import" href="chessalpha-piece.html">

<dom-module id="chessalpha-spare-pieces">
  <template>
    <style>
      :host {
        display: block;
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        
      }
      .panel {
        width: 8%;
        z-index: 1;
        @apply --layout-vertical;
        @apply --layout-center-center;
        display: none;
      }
      :host([opened]) .panel {
        display: flex;
      }
      .board {
        @apply --layout-vertical;
        @apply --layout-center-center;
      }
      chessalpha-piece {
        cursor: default;
      }
      chessalpha-piece[selected] {
        background-color: rgba(0,0,0,.1);
      }
      .square-container {
        width: 68%;
        padding-bottom: 68%;
        margin: 16%;
        position: relative;
        border: 1px solid #000;
        border-radius: 2px;
      }
      iron-icon {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="panel">
      <chessalpha-piece type="king" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="queen" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="rook" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="bishop" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="knight" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="pawn" color="white" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <div class="square-container" on-tap="_startPosistion"><iron-icon icon="chessalpha:board-icon-2"></iron-icon><iron-icon icon="chessalphapiece:whiteking" style="color:#FFF;padding:10%;width:80%;height:80%"></iron-icon></div>
    </div>
    <div class="board">
      <slot></slot>
    </div>
    <div class="panel">
      <chessalpha-piece type="king" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="queen" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="rook" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="bishop" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="knight" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <chessalpha-piece type="pawn" color="black" on-dragging-changed="_draggingChanged" on-tap="_pieceTap" on-drop="_dropEvent"></chessalpha-piece>
      <div class="square-container" on-tap="_emptyPosition"><iron-icon icon="chessalpha:board-icon-2"></iron-icon></div>
    </div>
  </template>

  <script>
    /**
     * `chessalpha-spare-pieces`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChessalphaSparePieces extends Polymer.Element {
      static get is() { return 'chessalpha-spare-pieces'; }
      static get properties() {
        return {
          opened: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }
      connectedCallback() {
        super.connectedCallback();
        this.boardElement.resize();
        requestAnimationFrame(() => {
          this.boardElement.resize();
        })        
      }
      get boardElement() {
        return this.firstElementChild; //fixa
      }
      _draggingChanged(e) {
        if(this.isAttached) this.boardElement._pieceDragging(e);
      }
      _pieceTap(e) {
        var selectedPiece = this.boardElement.selectedPiece;
        this.boardElement.unselectPiece();
        if(selectedPiece!=e.currentTarget) this.boardElement._pieceTap(e);
      }
      _dropEvent(e) {
        const piece = e.target
        setTimeout(() => {
          this.boardElement.selectPiece(piece);
        });
      }
      _emptyPosition() {
        this.boardElement.board = new chessalpha.Position('empty').board;
      }
      _startPosistion() {
        this.boardElement.board = new chessalpha.Position('start').board;
      }
    }

    window.customElements.define(ChessalphaSparePieces.is, ChessalphaSparePieces);
  </script>
</dom-module>
