<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../chessalpha-icons/chessalpha-icons.html">
<link rel="import" href="chessalpha-piece-mixin.html">

<dom-module id="chessalpha-piece-light">
  <template>

    <style is="custum-style">
      :host {
        display: block;
      }
      :host([color="white"]) {
        color: #FFF;
      }
      :host([color="black"]) {
        color: #000;
      }
      :host([dragging]) {
        transition: none !important;
      }
      iron-icon {
        width: 100%;
        height: 100%;
      }
    </style>

    <iron-icon icon="[[_getIcon(type,color)]]"></iron-icon>

  </template>

  <script>
    /**
     * `chessalpha-piece-light`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.ChessalphaPieceMixin
     * @demo demo/index.html
     */
    class ChessalphaPieceLight extends Polymer.ChessalphaPieceMixin(Polymer.Element) {
      static get is() { return 'chessalpha-piece-light'; }
    }

    window.customElements.define(ChessalphaPieceLight.is, ChessalphaPieceLight);
  </script>
</dom-module>
