<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="chessalpha-board-mixin.html">
<link rel="import" href="chessalpha-board-styles.html">

<link rel="import" href="chessalpha-piece-light.html">

<dom-module id="chessalpha-board-light">
  <template>

    <style include="chessalpha-board-styles"></style>

    <div id="background">
      <slot name="background"></slot>
      <iron-icon icon="[[_background(reversed)]]"></iron-icon>
    </div>
    <div id="innerBoard">
      <slot name="innerboard"></slot>
      <div id="pieces"></div>
    </div>

  </template>

  <script>
    /**
     * `chessalpha-board-light`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.ChessalphaBoardMixin
     * @demo demo/index.html
     */
    class ChessalphaBoardLight extends Polymer.ChessalphaBoardMixin(Polymer.Element) {
      static get is() { return 'chessalpha-board-light'; }

      static get properties() {
        return {
          /**
           * Frameratio (frame size relative to squaresize).
           */
          frame: {
            type: Number,
            value: 5/31
          },
          
          /**
           * Object with background and pieces to use
           */
          icons: {
            type: Object,
            value: {
              background: 'chessalpha:smallframeboard',
              backgroundReversed: 'chessalpha:smallframeboard',
              pieces: {
                white: {
                  king: 'chessalphapiece:whiteking',
                  queen: 'chessalphapiece:whitequeen',
                  rook: 'chessalphapiece:whiterook',
                  bishop: 'chessalphapiece:whitebishop',
                  knight: 'chessalphapiece:whiteknight',
                  pawn: 'chessalphapiece:whitepawn'
                },
                black: {
                  king: 'chessalphapiece:blackking',
                  queen: 'chessalphapiece:blackqueen',
                  rook: 'chessalphapiece:blackrook',
                  bishop: 'chessalphapiece:blackbishop',
                  knight: 'chessalphapiece:blackknight',
                  pawn: 'chessalphapiece:blackpawn'
                }
              }
            }
          }
        }
      }

      get backgroundElement() { return this.$.background }
      get innerBoardElement() { return this.$.innerBoard }
      get piecesElement() { return this.$.pieces }

      addPiece() {
        return super.addPiece(...arguments, document.createElement('chessalpha-piece-light'));
      }
    }

    window.customElements.define(ChessalphaBoardLight.is, ChessalphaBoardLight);
  </script>
</dom-module>
