<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="chessalpha-graphics">
  <template>
    <style>
      :host, svg {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #overlayGraphics {
        z-index: 1;
      }
      :host([reversed]) {
        transform: rotate(180deg);
      }
    </style>
    <svg id="graphics" viewBox="0 0 512 512"></svg>
    <svg id="overlayGraphics" viewBox="0 0 512 512"></svg>
  </template>

  <script>
    (function() {
    let downEvent;

    /**
     * `chessalpha-graphics`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChessalphaGraphics extends Polymer.Element {
      static get is() { return 'chessalpha-graphics'; }
      static get properties() {
        return {
          graphics: {
            type: Array,
            value: function() { return [] }
          },
          defaultGraphics: {
            type: Object,
            value: function() { return { equals: {type: "square", "overlay": false}, unequals: {type: "arrow", "overlay": true} } }
          },
          defaultColors: {
            type: Object,
            value: function() { 
              var colors = { g: "rgba(76,175,82,.8)", r: "rgba(244,67,54,.8)", b: "rgba(68,138,255,.8)" }
              colors.d = colors.g;
              return colors;
            },
            notify: true
          },
          eventElement: {
            type: HTMLElement,
            value: null,
            observer: "_eventElementChanged"
          },
          forceGraphics: {
            type: Boolean,
            value: false
          },
          reversed: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }

      static get observers() {
        return [
          '_graphicsChanged(graphics, isAttached)',
          '_graphicsSpliceChanged(graphics.splices)'
        ]
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        if(this.eventElement) this._graphicsUnlisten(this.eventElement);
      }

      _eventElementChanged(eventElement, oldEventElement) {
        if(eventElement) this._graphicsListen(eventElement);
        if(oldEventElement) this._graphicsUnlisten(oldEventElement)
      }
      _graphicsListen(eventElement) {
        eventElement.addEventListener('mousedown', this._graphicsDown.bind(this));
        eventElement.addEventListener('touchstart', this._graphicsDown.bind(this));
        eventElement.addEventListener('mouseup', this._graphicsUp.bind(this));
        eventElement.addEventListener('touchend', this._graphicsUp.bind(this));
        eventElement.addEventListener('contextmenu', this._preventDefault.bind(this));
      }
      _graphicsUnlisten(eventElement) {
        eventElement.removeEventListener('mousedown', this._graphicsDown.bind(this));
        eventElement.removeEventListener('touchstart', this._graphicsDown.bind(this));
        eventElement.removeEventListener('mouseup', this._graphicsUp.bind(this));
        eventElement.removeEventListener('touchend', this._graphicsUp.bind(this));
        eventElement.removeEventListener('contextmenu', this._preventDefault.bind(this));
      }

      _graphicsChanged(graphics, isAttached) {
        if(isAttached) {
          while(this.$.graphics.firstChild) {
            this.$.graphics.removeChild(this.$.graphics.firstChild);
            this.$.overlayGraphics.removeChild(this.$.overlayGraphics.firstChild);
          }
          var i = -1, l = graphics.length;
          while(++i<l) { 
            this.$[graphics[i].overlay ? "overlayGraphics":"graphics"].appendChild(this._drawGraphic(graphics[i]));
            this.$[graphics[i].overlay ? "graphics":"overlayGraphics"].appendChild(this._createSVG('g',{}));
          }
        }
      }

      _graphicsSpliceChanged(changeRecord) {
        if(changeRecord && changeRecord.indexSplices) changeRecord.indexSplices.forEach(indexSplice => {
          var i = indexSplice.removed.length;

          while(i--) {
            this.$.graphics.removeChild(this.$.graphics.children[indexSplice.index + i]);
            this.$.overlayGraphics.removeChild(this.$.overlayGraphics.children[indexSplice.index + i]);
          }

          if(indexSplice.addedCount) for(var i=0;i<indexSplice.addedCount;i++) {
            var graphic = indexSplice.object[indexSplice.index + i]
              , e1 = graphic.overlay ? "overlayGraphics":"graphics"
              , e2 = graphic.overlay ? "graphics":"overlayGraphics"
            this.$[e1].insertBefore(this._drawGraphic(graphic), this.$[e1].children[indexSplice.index + i]);
            this.$[e2].insertBefore(this._createSVG('g',{}), this.$[e2].children[indexSplice.index + i]);
          }
        });
      }

      _drawGraphic(graphic) {
        return this._draw[graphic.type].call(this, graphic);
      }

      get _draw() {
        return {
          arrow: arrow => {
            var id = ((arrow.from||arrow.square)+arrow.to+arrow.color).replace(/\(|\)/g,'')
              , from = chessalpha.formatSanToXY(arrow.from||arrow.square)
              , to = chessalpha.formatSanToXY(arrow.to)

              , hypo = Math.sqrt(Math.pow(to.x-from.x,2)+Math.pow(to.y-from.y,2))
              , k1 = .15 / hypo
              , k2 = (hypo - .45) / hypo
              , x1 = (from.x + (to.x - from.x) * k1) * 64 + 32
              , y1 = (from.y + (to.y - from.y) * k1) * 64 + 32
              , x2 = (from.x + (to.x - from.x) * k2) * 64 + 32
              , y2 = (from.y + (to.y - from.y) * k2) * 64 + 32;

            var group = this._createSVG('g', {});
            group.appendChild(this._createSVG('path', {
              d: 'M1.01,0 a.5,.5 0 0,0 0,1Z',
              fill: arrow.color
            }, this._createSVG('marker', {
              id: id + 'start',
              orient: 'auto',
              markerWidth: 2,
              markerHeight: 2,
              refX: 1,
              refY: .5,
              markerUnits: "strokeWidth"
            })));
            group.appendChild(this._createSVG('path', {
              d: 'M0,0L4,1.5L0,3Z',
              fill: arrow.color
            }, this._createSVG('marker', {
              id: id + 'end',
              orient: 'auto',
              markerWidth: 4,
              markerHeight: 3,
              refX: .01,
              refY: 1.5,
              markerUnits: "strokeWidth"
            })));
            return this._createSVG('line', {
              stroke: arrow.color,
              'stroke-width': 7,
              //'stroke-linecap': 'round',
              'marker-start': 'url(#' + id + 'start)',
              'marker-end': 'url(#' + id + 'end)',
              x1: x1,
              y1: y1,
              x2: x2,
              y2: y2
            }, group);
          },
          square: graphic => {
            var xy = chessalpha.formatSanToXY(graphic.square);
            return this._createSVG('rect', {
              x: xy.x * 64,
              y: xy.y * 64,
              width: 64,
              height: 64,
              fill: graphic.color
            })
          }
        }
      }

      _createSVG(type, attributes, parent) {
        var el = document.createElementNS('http://www.w3.org/2000/svg', type);
        for(var key in attributes) el.setAttribute(key, attributes[key]);
        if(parent) {
          parent.appendChild(el);
          return parent
        }
        return el;
      }

      _graphicsDown(e) {
        e.preventDefault();
        downEvent = e;
      }
      _graphicsUp(upEvent) {
        if(!downEvent) return;
        upEvent.preventDefault();
        var color = this.defaultColors[downEvent.altKey && upEvent.altKey ? 'g':downEvent.ctrlKey && upEvent.ctrlKey ? 'r':downEvent.shiftKey && upEvent.shiftKey ? 'b':downEvent.which == 3 && upEvent.which == 3 || this.forceGraphics ? 'd':''];
        if(color) {
          var rectObject = this.getBoundingClientRect()
            , squareSize = rectObject.width / 8
            , x1 = Math.floor((downEvent.clientX - rectObject.left) / squareSize)
            , y1 = Math.floor((downEvent.clientY - rectObject.top) / squareSize)
            , x2 = Math.floor((upEvent.clientX - rectObject.left) / squareSize)
            , y2 = Math.floor((upEvent.clientY - rectObject.top) / squareSize)

          if(this.reversed) {
            x1 = 7 - x1;
            y1 = 7 - y1;
            x2 = 7 - x2;
            y2 = 7 - y2;
          }

          var equals = x1==x2 && y1==y2
            , square = chessalpha.formatXYToSan({x:x1,y:y1})
            , defaultGraphic = this.defaultGraphics[equals ? "equals":"unequals"]
            , graphic = {
                type: defaultGraphic.type,
                overlay: defaultGraphic.overlay,
                color: color
              }
          if(equals)
            graphic.square = square;
          else {
            graphic.from = square;
            graphic.to = chessalpha.formatXYToSan({x:x2,y:y2});
          }

          var replacer = function(key, value) { return key=="color" ? null:value }
            , i = this.graphics.length, graphicJSON = JSON.stringify(graphic, replacer);
          while(i--) {
            var _graphic = this.graphics[i];
            if(JSON.stringify(_graphic, replacer) == graphicJSON) {
              this.splice("graphics", i, 1);
              if(JSON.stringify(_graphic) == JSON.stringify(graphic)) return;
              break;
            }
          }
          this.push("graphics", graphic);
          downEvent = null;
        }
      }
      _preventDefault(e) {
        e.preventDefault();
      }

      removeAll() {
        let i = this.graphics.length
        while(i--) this.splice("graphics", i , 1)
      }
    }

    window.customElements.define(ChessalphaGraphics.is, ChessalphaGraphics);

    })();
  </script>
</dom-module>
