<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-selector/iron-selector.html">
<link rel="import" href="chessalpha-piece.html">

<dom-module id="chessalpha-board-promotion-dialog">
  <template>

    <style>
      :host {
        @apply --layout-fit;
        @apply --layout-horizontal;
        @apply --layout-center-center;
        z-index: 100;
        display: none;
      }
      div {
        width: 50%;
        height: 12.5%;
        padding: 3%;
        background: #FFF;
        position: relative;
        @apply --layout-horizontal;
      }
      :host([opened]), chessalpha-piece {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    </style>

    <div>
      <chessalpha-piece type="queen" color="[[color]]" immovable on-tap="_selectPiece"></chessalpha-piece>
      <chessalpha-piece type="rook" color="[[color]]" immovable on-tap="_selectPiece"></chessalpha-piece>
      <chessalpha-piece type="bishop" color="[[color]]" immovable on-tap="_selectPiece"></chessalpha-piece>
      <chessalpha-piece type="knight" color="[[color]]" immovable on-tap="_selectPiece"></chessalpha-piece>
    </div>

  </template>

  <script>
    /**
     * `chessalpha-board-promotion-dialog`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChessalphaBoardPromotionDialog extends Polymer.Element {
      static get is() { return 'chessalpha-board-promotion-dialog'; }

      static get properties() {
        return {
          opened: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },

          color: {
            type: String
          }
        }
      }

      _selectPiece(e) {
        this.dispatchEvent(new CustomEvent('selected-piece-changed', { detail: { value: e.target }}));
      }
    }

    window.customElements.define(ChessalphaBoardPromotionDialog.is, ChessalphaBoardPromotionDialog);
  </script>
</dom-module>