<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>chessalpha-board demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../chessalpha-core/chessalpha-core.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../chessalpha-board.html">
    <link rel="import" href="../chessalpha-board-promotion-dialog.html">
    <link rel="import" href="../chessalpha-spare-pieces.html">
    <link rel="import" href="../chessalpha-graphics.html">

    <link rel="import" href="../chessalpha-board-light.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic chessalpha-board demo</h3>
      <demo-snippet>
        <template>
          <dom-bind id="app">
            <template>
              <div>
                <chessalpha-board-light id="boardLight"></chessalpha-board-light>
              </div>
              <div>
                <chessalpha-spare-pieces opened="[[sparepieces]]">
                  <chessalpha-board id="board" on-client-move="move" create-move="[[createMove]]" valid-move="[[validMove]]" reversed="[[reversed]]" immovable="[[immovable]]" remove-on-outside-drop style="margin:0 10% 8px">
                    <chessalpha-graphics slot="innerboard" event-element="{{boardElement.innerBoardElement}}" reversed="[[reversed]]" force-graphics="[[immovable]]"></chessalpha-graphics>
                    <chessalpha-board-promotion-dialog id="promotionDialog" slot="innerboard" id="promotionDialog" on-selected-piece-changed="promote"></chessalpha-board-promotion-dialog>
                  </chessalpha-board>
                </chessalpha-spare-pieces>
              </div>
              <div><input id="reversed" type="checkbox" checked="{{reversed::change}}"><label for="reversed">reversed</label></div>
              <div><input id="immovable" type="checkbox" checked="{{immovable::change}}"><label for="immovable">immovable</label></div>
              <div><input id="sparepieces" type="checkbox" checked="{{sparepieces::change}}"><label for="sparepieces">sparepieces</label></div>
            </template>
          </dom-bind>
          <script>
            const app = document.getElementById("app")
        
            app.createMove = function(move) {
              return new chessalpha.Position({board: this.board}).createMove(move);
            }
            

            app.addEventListener('dom-change', function() {
              app.createMove = function(move) {
                return new chessalpha.Position({board: this.board}).createMove(move);
              }
              
              requestAnimationFrame(function() {
                app.boardElement = app.$.board;
                app.boardLightElement = app.$.boardLight;
                app.boardElement.addEventListener("board-changed", function(e) {
                  app.boardLightElement.board = e.detail.value;
                })
                app.boardElement.board = new chessalpha.Position('start').board;
              })
              
              app.move = function(e, move) {
                if(move.piece.type == "pawn" && ((move.piece.color == "white" && move.to[1] == "8") || (move.piece.color == "black" && move.to[1] == "1"))) {
                  this.$.promotionDialog.color = move.piece.color;
                  this.$.promotionDialog.opened = true;
                  window.promotionPiece = move.piece;
                }
                else {
                  app.boardLightElement.move(move.move)
                }
              }
              app.promote = function(e, detail) {
                if(detail.value) {
                  window.promotionPiece.type = detail.value.type;
                  this.$.promotionDialog.opened = false;
                }
              }
            })
          </script>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
